.chat{
    display: grid;
    grid-template-areas: "header header header"
    "rooms messages users"
    "rooms msgInput users";
    grid-template-columns: 250px auto 100px;
    grid-template-rows: 70px calc(100vh - 160px) 90px;
    height:100%;
    width: 100%;
}
.chat .header{
    grid-area: header;
}
.chat #rooms{
    grid-area: rooms;
    background-color: aquamarine;    
}
.chat #messages{
    grid-area: messages;
    background-color: yellow;
}
.chat #users{
    grid-area: users;
    background-color: red;
}
